<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/addUser.css">
</head>
<body>
  
<!--header-->
   <header id="header">
    <nav>
       <div class="nav-container ">
         <div class="brand-home-container nav-item-container">
            <div class="brand-name">
               <a href="/" class="brand-name-text nav-link">User Management System</a>
            </div>
         </div>
        <div class="search-bar nav-item-container">
            <div class="search-box">
              <input type="text" placeholder="Search">
            </div>
            <div class="search-button">
               <button>Search</button>
            </div>
        </div>
    </nav>
   </header>