
<div class="update-buttons">
    <div class="alluser-button">
        <button><a href="/"><i class="fa-solid fa-angles-left"></i> All Users</a></button>
    </div>
    <div class="adduser-button-update">
        <button><a href="/add_user"><i class="fa-light fa-plus"></i>add user</a></button>
    </div>
</div>