<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"  type="text/css" href="assets/css/styles.css">
</head>
<body>
  
<!--header-->
   <header id="header">
    <nav>
       <div class="nav-container">
        <div class="brand-name nav-item-container">
           <a href="/" class="brand-name-text nav-link">User Management System</a>
        </div>
        <div class="nav-item nav-item-container">
           <p>Home</p>
        </div>
        <div class="search-bar nav-item-container">
            <div class="search-box">
              <input>
            </div>
            <div class="search-button">
               <button>Search</button>
            </div>
        </div>
    </nav>
   </header>
    <main class="mainapp-section">
        <div class="UserAdd-section">
            <div class="Users-heading">
                <span>Users</span>
                <button><a href="/" class="toggle-home toggle"><i class="fa-light fa-plus"></i>Edit User</a></button>
            </div>
        </div>
        <div class="form-div">
            <form action="/" method="POST">
            <table>
                <thead class="">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>@Email</th>
                            <th>Phone</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>1</td>
                            <td>Username</td>
                            <td>example@gmail.com</td>
                            <td>8776544332</td>
                            <td>Male</td>
                            <td>Active</td>
                            <td>
                                
                                <a href="#" class="btn btn-view">
                                <i class="fa-solid fa-plus"></i>
                                </a>
                                <a href="#" class="btn btn-update">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                                <a class="btn btn-delete">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>    
                </tbody>
            </table>
            </form>
        </div>
    </main>
</body>
</html>
